<div class="container">
    <h1>Shopping card!</h1>

    <div class="main">
        <div class="table">
            <h2 *ngIf="!orders">There is no orders yet!</h2>
            <table *ngIf="orders">
                <tr>
                    <th>Product</th>
                    <th></th>
                    <th>Price</th>
                    <td></td>
                </tr>
                <tr *ngFor="let order of orders">
                    <td><img src="{{order.image}}" /></td>
                    <td>{{order.name}}</td>
                    <td>{{order.price}}</td>
                    <td><button #id value="{{order.id}}" (click)="handleDelete(id.value)">Delete</button></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="right-bar">
        <div class="data">
            <p>Name: {{userData.username}}</p>
            <p>Address: {{userData.address}}</p>
            <p>Phone number: {{userData.phone}}</p>
        </div>
        <div class="price">
            <p><b>Total sum: {{totalSum}}</b></p>
            <button (click)="handleByu()">Byu</button>
        </div>
    </div>
</div>