.container {
    min-height: 550px;
}

h3{
    margin: 50px;
    text-align: center;
}

.info {
    width: 70%;
    margin: 0 15%;
    padding: 10px;
    border: 4px solid #333;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data {
    width: 60%;
    text-align: center;
    float: left;
}

.prod {
    width: 80%;
    margin: 20px;
}

article {
    padding: 5px;
    padding-top: 25px;
    margin: 10px;
    margin-bottom: 50px;
    display: inline-block;
    width: 30%;
    border: 1px solid;
    border-radius: 2px;
    text-align: center;
    /* background-color: rgba(255, 255, 255, 0.8); */
}

.add {
    width: 40%;
    float: left;
}

.add button {
    margin: 0 25%;
    margin-top: 15px;
    width: 50%;
    padding: 10px;
    cursor: pointer;
    background-color: #333;
    color: white;
}