<div class="container">
        <h3> {{currentUser.username}} profile</h3>
    <div class="info">
        <div class="data">
            <p>Address: {{currentUser.address}}</p>
            <p>Phone: {{currentUser.phone}}</p>
            <p>Products: {{currentUser.products.length}}</p>
        </div>
        <div class="add">
            <a routerLink="addProduct"><button>Add new product</button></a>
        </div>
    </div>

    <div *ngFor="let product of products" class="prod">
        <h4 *ngIf="!product">There is no product in your profile!</h4>
        <article *ngIf="product">
            <img src='{{product.image}}'>
            <p>{{product.name}}</p>
            <p>Price: {{product.price}}</p>
            <button #id value="{{product.id}}" (click)="handleClick(id.value)">Delete</button>
        </article>
    </div>
</div>