<div class="container">
    <h2> {{currentUser.username}} profile</h2>
    <div class="info">
        <div class="data">
            <p>Address: {{currentUser.address}}</p>
            <p>Phone: {{currentUser.phone}}</p>
            <p>Products: {{currentUser.products.length}}</p>
        </div>
        <div class="add">
            <a routerLink="/product/addProduct"><button>Add new product</button></a>
        </div>
    </div>

    <div class="prod">
        <h3 *ngIf="products.length===0">There is no product yet in your profile!</h3>

        <article *ngFor="let product of products">
            <img src='{{product.image}}'>
            <p>{{product.name}}</p>
            <p>Price: {{product.price}}</p>
            <button #id value="{{product.id}}" (click)="handleClick(id.value)">Delete</button>
        </article>
    </div>
</div>