<div *ngIf="!isLoggedIn()" class="container">
    <div class="welcome">
        <div class="title">
            <h1>Welcome to our website!</h1>
        </div>
        <div class="form">
            <app-login></app-login>
        </div>
    </div>
    <div class="main">
        <h2>Top 3 offers!</h2>
        <div *ngFor="let product of data">
            <h2 *ngIf="!product">There is no products yet!</h2>
            <article *ngIf="product">
                <img src='{{product.image}}'>
                <p>{{product.name}}</p>
                <p>Price: {{product.price}}</p>
            </article>
        </div>
    </div>
</div>

<div *ngIf="isLoggedIn()" class="container">
    <div class="main">
        <h2>Look for something awesome!</h2>
        <div *ngFor="let product of data">
            <h2 *ngIf="!product">There is no products yet!</h2>
            <article *ngIf="product">
                <img src='{{product.image}}'>
                <p>{{product.name}}</p>
                <p>Price: {{product.price}}</p>
                <button #id value="{{product.id}}" (click)="handleClick(id.value)">Add to shopping card</button>
            </article>
        </div>
    </div>
</div>