<div class="container">
    <div class="welcome" *ngIf="!isLoggedIn()">
        <div class="title">
            <h1>Welcome to our website!</h1>
        </div>
        <div class="form">
            <app-login></app-login>
        </div>
    </div>
    <div class="main">

        <h2 *ngIf="data.length!==0">Look for something awesome!</h2>
        
        <h2 *ngIf="data.length===0" class="none">There is no products yet!</h2>

        <article *ngFor="let product of data">
            <img src='{{product.image}}'>
            <p>{{product.name}}</p>
            <p>Price: {{product.price}}</p>
            <button *ngIf="isLoggedIn()" #id value="{{product.id}}" (click)="handleClick(id.value)">Add to shopping card</button>
        </article>
    </div>
</div>